// 首页侧栏卡片
[data-theme="light"] .card-widget
  background: var(--km-global-bg) !important

[data-theme="dark"] .card-widget
  background: rgba(20, 20, 20, 0.9) !important

  blockquote
    background-color: rgba(30, 30, 30, 0.65) !important

[data-theme="dark"]
  // 深色模式右侧标签
  #aside-content
    .card-tag-cloud a
      color rgb(132, 133, 135) !important

      &:hover
        background var(--km-link-bg) !important

.aside-content

  //相关推荐
  .card-widget.card-recent-post
  .aside-list
    img
      border-radius 8px
      &:hover
        transform unset !important

  // 右侧标签
  .card-tag-cloud
    a
      font-weight 600
      border-radius: 8px

      &:hover
        background-color: var(--km-link-bg)
        color: white !important

  // 文章页目录
  #card-toc
    .toc-content
      .toc-link
        border-radius 10px

        &:hover
          background var(--km-toc-hover)
          color var(--km-font) !important

        &.active
          color var(--km-toc-active-font) !important
          border-radius 10px
          background var(--km-toc-active) !important

  // 作者信息背景图片
  .card-widget.card-info
    background-image url("https://image.kmar.top/indexBg/side.png!/fw/800") !important
    background-repeat no-repeat !important
    background-attachment inherit !important
    background-size 100% !important
    .avatar-img
      margin-top 20px
      img
        transition all 0.5s !important
        &:hover
          transform unset !important
          opacity 0
      &:hover
        & + .author-info__name
          opacity 0
    .author-info__name
      transition all 0.5s

#sidebar-menus
  .menus_items
    .fa-chevron-down:before
      line-height 30px