/* 首页文章卡片 */
[data-theme="light"]
  #recent-posts > .recent-post-item{
    background:rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  #recent-posts > .recent-post-item{
    background:rgba(20, 20, 20, 0.75);
}
/* 首页侧栏卡片 */
[data-theme="light"]
  .card-widget{
    background:rgba(250, 250, 250, 0.85)!important;
}
[data-theme="dark"]
  .card-widget{
    background:rgba(20, 20, 20, 0.9)!important;
}
[data-theme="dark"]
  #aside-content #card-toc .toc-content .toc-link.active {
    background:#313534;
}
/* 文章页面正文背景 */
[data-theme="light"]
  div#post{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#post{
    background: rgba(20, 20, 20, 0.8);
}
/* 分页页面 */
[data-theme="light"]
  div#page{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#page{
    background: rgba(20, 20, 20, 0.8);
}
/* 归档页面 */
[data-theme="light"]
  div#archive{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#archive{
    background: rgba(20, 20, 20, 0.8);
}
/* 标签页面 */
[data-theme="light"]
  div#tag{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#tag{
    background: rgba(20, 20, 20, 0.8);
}
/* 分类页面 */
[data-theme="light"]
  div#category{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#category{
    background: rgba(20, 20, 20, 0.8);
}
/* 页脚背景 */
#footer:before {
    background: rgba(0,0,0,0.1) !important;
}
/* 有序列表序号 */
ol li::before{
  border: 0.2em solid #49b1f5;
  margin-top: 0.85em !important;
  width: 1.2em !important;
  height: 1.2em !important;
  background: transparent !important;
  border-radius: 1em !important;
  line-height: 1.3em !important;
  font-size: 0.75em !important;
}
[data-theme="light"]
  li::before {
    color: rgb(50,50,50) !important;
  }
/* 引入背景 */
[data-theme="dark"]
  blockquote{
    background-color: rgba(30,30,30,0.65) !important;
  }
