/* 首页文章卡片 */
#recent-posts
  & > .recent-post-item
    background: var(--km-global-bg) !important;

/* 文章页面正文背景 */
div#post
  background: var(--km-global-bg)

/* 分页页面 */
div#page
  background: var(--km-global-bg)

/* 归档页面 */
div#archive
  background: var(--km-global-bg)

/* 标签页面 */
div#tag
  background: var(--km-global-bg)

/* 分类页面 */
div#category
  background: var(--km-global-bg)

/* 页脚背景 */
#footer
  &:before
    background: rgba(0, 0, 0, 0.2) !important