:root
  --km-global-bg rgba(250, 250, 250, 0.95)
  --km-link-bg #0084ff
  --km-link-underline #3599d9
  --km-button-dark-hover #0084ff
  --km-button-dark-bg #66ccff
  --km-button-light-active #66ccff
  --km-button-font white
  --km-button-shadow hsla(0, 0%, 22%, 0.2)
  --km-toc-active #e2cbff99
  --km-toc-active-font black
  --km-toc-hover #e2cbff66
  --km-font black
  --km-card-bg #66ccff34
  --km-general-shadow #546e7a
  --km-tab-border #e3e4e6
  --km-tab-active #f1f2ff
  --km-tab-hover #d1efff
  --km-tab-overline #0084ff
  --km-text-select #0084ff80
  --km-float-win-bg whitesmoke
  --km-globle-font black

[data-theme="dark"]
  --km-global-bg rgba(20, 20, 20, 0.95)
  --km-link-bg #0056ac
  --km-link-underline #3599d9cc
  --km-button-dark-hover #49505d
  --km-button-dark-bg #1f1f1f
  --km-button-light-active #4c4c4cbc
  --km-button-font #66ccff
  --km-button-shadow #212121
  --km-toc-active #313534
  --km-toc-active-font #a2a9c2
  --km-toc-hover #009d9266
  --km-font #a3a4a3
  --km-card-bg #66ccff10
  --km-tab-border #2c2c2c
  --km-tab-active #3c3c3c
  --km-tab-hover #4c4c4c
  --km-tab-overline #326e99
  --km-text-select #0056acba
  --km-float-win-bg rgb(30, 30, 30)
  --km-globle-font white