[data-theme="dark"]
  #post
    .post-copyright
      background-color rgb(7 8 10)

  .post-copyright-info
    color #e0e0e4

#post
  .post-copyright__title
    font-size 22px

  .post-copyright__notice
    font-size 15px