// 加载字体
@font-face
  font-family "iconfont"
  src url('/font/iconfont.woff2') format('woff2'),
  url('/font/iconfont.woff') format('woff'),
  url('/font/iconfont.ttf') format('truetype'),
  url('/font/iconfont.eot') format('embedded-opentype'),
  url('/font/iconfont.svg') format('svg')

.iconfont
  font-family "iconfont" !important
  font-size 1.25em
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-chongdian
  &:before
    content "\e76c"

.icon-tuijian
  &:before
    content "\e620"

.icon-zuji
  &:before
    content "\e663"

.icon-bilibili
  &:before
    content "\e8b1"

.icon-youlian
  &:before
    content "\e66f"

.icon-liuyan
  &:before
    content "\e606"

.icon-fenlei
  &:before
    content "\e623"

.icon-guidang
  &:before
    content "\e660"

.icon-zhuye
  &:before
    content "\e64d"

.icon-biaoqian
  &:before
    content "\e885"

.icon-github
  &:before
    content "\e741"

.icon-youxiang
  &:before
    content "\e612"