[data-theme="dark"]
  header#page-header::before{
    background-color: rgba(0,0,0,0.5)!important;
  }
@media screen and (max-width: 900px) and (min-width: 701px){
  header#page-header{
    background-image: url(https://image.emptydreams.xyz/mobileBg.jpg!/fw/900)!important;
  }
}
@media screen and (max-width: 700px) and (min-width: 401px){
  header#page-header{
    background-image: url(https://image.emptydreams.xyz/mobileBg.jpg!/fw/700)!important;
  }
}
@media screen and (max-width: 400px){
  header#page-header{
    background-image: url(https://image.emptydreams.xyz/mobileBg.jpg!/fw/400)!important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 901px){
  header#page-header{
    background-image: url(https://image.emptydreams.xyz/bg.jpg!/fw/1200)!important;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1201px){
  header#page-header{
    background-image: url(https://image.emptydreams.xyz/bg.jpg!/fw/1500)!important;
  }
}

/* 翻页圆角 */
#pagination a.extend,
#pagination .page-number,
#pagination span {
  color: var(--font-color);
  background-color: var(--card-bg);
  border-radius: 8px;
  height: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  display: inline-block;
  min-width: 1.6rem;
}
#pagination .page-number.current {
  background: rgba(80,80,80,0.7)!important;
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
margin-right: 4px;
border-radius: 5px;
}
/* github按钮圆角 */
#card-info-btn{
  border-radius: 25px;
  overflow: hidden
}
#card-info-btn:before{
  border-radius: 25px
}