// 全局默认鼠标指针
body, html
  cursor url('https://image.kmar.top/mouse/normal.cur') , auto

.tk-icon[data-v-2619081a] svg,
.OwO .OwO-logo,
#scroll-down,
.tk-input el-textarea,
.code-expand-btn,
.highlight-tools i,
a, button, img, h1, h2, h3, h4, h5, h6
  cursor url('https://image.kmar.top/mouse/link.cur') , auto !important

.twikoo
  .is-disabled
    cursor url('https://image.kmar.top/mouse/No Disponible.cur') , auto !important

#article-container
  li, p, pre code
    cursor url('https://image.kmar.top/mouse/texto.cur') , auto

input,
.tk-input[data-v-619b4c52],
.article-sort-item-time time,
#settings-descr p,
#site-subtitle,
#recent-posts > .recent-post-item > .recent-post-info > .content
  cursor url('https://image.kmar.top/mouse/texto.cur') , auto