// 全局默认鼠标指针
body,
html,
li:hover::before
  cursor url('https://image.kmar.top/mouse/normal.cur') , auto !important

// 选择链接、标签、图片、按钮时的鼠标指针
.tk-icon[data-v-2619081a] svg,
.OwO .OwO-logo,
a, a#site-name, button, div#scroll-down, i,
#footer-wrap a, #live2d,
.tk-input el-textarea
  &:hover
    cursor url('https://image.kmar.top/mouse/link.cur') , auto !important

img
  cursor url('https://image.kmar.top/mouse/link.cur') , auto !important

// 选中输入框、文本时的鼠标指针
h1, h2, h3, h4, h5, h6,
#article-container ol li, #article-container ul li,
#article-container pre code, #article-container p,
.tk-input[data-v-619b4c52], input,
.article-sort-item-time time
  &:hover
    cursor url('https://image.kmar.top/mouse/texto.cur') , auto

.twikoo
  .is-disabled:hover
    cursor url('https://image.kmar.top/mouse/No Disponible.cur') , auto !important

// 悬停菜单栏时的鼠标指针
#nav
  .site-page
    &:hover
      cursor url('https://image.kmar.top/mouse/Alternative2.cur') , auto

// 看板娘右侧按钮
#waifu-tool
  .fa-lg
    &:hover
      cursor url('https://image.kmar.top/mouse/link.cur') , auto

// 副标题
#page-header
  #site-subtitle
    &:hover
      cursor url('https://image.kmar.top/mouse/texto.cur') , auto

#recent-posts > .recent-post-item > .recent-post-info > .content
  &:hover
    cursor url('https://image.kmar.top/mouse/texto.cur') , auto