#article-container
  &.post-content
    h2
      font-size 1.7rem !important

      &:before
        content '\f105' !important
        font-size 2.3rem !important
        margin-left -1.5rem !important
        margin-top -0.69rem !important

    h3
      font-size 1.5rem !important

      &:before
        content '\f101' !important
        margin-left -1.75rem !important
        margin-top -0.41rem !important
        font-size 1.7rem !important

    h4
      font-size 1.3rem !important
      &:before
        margin-left -1.5rem !important
        margin-top 0.05rem !important

    h5
      font-size 1.1rem !important
      &:before
        margin-left -1.2rem !important

    h6
      font-size 0.9rem !important
      &:before
        margin-left -1.2rem !important
        margin-top 0.1rem !important

    h2, h3, h4, h5, h6
      &:hover
        color #49b1f5

@media screen and (min-width: 900px)
  #article-container
    &.post-content
      h2, h3, h4, h5, h6
        &:hover
          margin-left 0.4rem