[data-theme="dark"]
  header#page-header::before
    background-color: rgba(0, 0, 0, 0.4) !important

  header#page-header
    background-image: url(https://image.kmar.top/indexBg/dark.jpg) !important

[data-theme="light"]
  #page-header:not(.not-top-img):before
    background-color rgba(0, 0, 0, 0.15)

// github按钮圆角
#card-info-btn
  border-radius: 25px
  overflow: hidden

#card-info-btn:before
  border-radius: 25px

// inlineimage坐标修正
img.inline.entered.loaded
  margin: unset !important

// 主页翻页按钮坐标修正
.layout > .recent-posts .pagination > .extend i
  line-height: 36px

// 归档页页码美化
#pagination .page-number.current
  border-radius: 5px

// 底部卡片边距
#footer-wrap a
  display inline-block
  margin 3px

// 标签页
[data-theme="dark"]
  .tag-cloud-list a
    color rgb(132, 133, 135) !important

    &:hover
      color white !important
      background var(--km-link-bg) !important

.tag-cloud-list a
  border-radius 10px

// 滚动条
*::-webkit-scrollbar-thumb
  border-radius 8px
html
  overflow-y overlay

// 文本选择反色
::selection
  background var(--km-text-select) !important
::-moz-selection
  background var(--km-text-select) !important

// 修正搜索按钮位置
#nav
  #search-button
    line-height 1 !important

  #blog_name
    a:hover
      color var(--km-button-dark-hover)