[data-theme="dark"]
  header#page-header::before
    background-color: rgba(0, 0, 0, 0.5) !important

@media screen and (max-width: 700px)
  header#page-header
    background-image: url(https://image.kmar.top/indexBg/mobileBg.jpg) !important

/* github按钮圆角 */
#card-info-btn
  border-radius: 25px
  overflow: hidden

#card-info-btn:before
  border-radius: 25px


/* inlineimage坐标修正 */
img.inline.entered.loaded
  margin: unset !important

/* 主页翻页按钮坐标修正 */
.layout > .recent-posts .pagination > .extend i
  line-height: 36px

/* 归档页页码美化 */
#pagination .page-number.current
  border-radius: 5px