[data-theme="dark"]
  header#page-header::before
    background-color: rgba(0, 0, 0, 0.4) !important

  header#page-header
    background-image: url(https://image.kmar.top/indexBg/dark.jpg) !important

  /* 深色模式下的标签栏 */
  #aside-content .card-tag-cloud a
    color rgb(132, 133, 135) !important

    &:hover
      color var(--km-button-font) !important
      background var(--km-link-bg) !important

[data-theme="light"]
  #page-header:not(.not-top-img):before
    background-color rgba(0, 0, 0, 0.15)

/* github按钮圆角 */
#card-info-btn
  border-radius: 25px
  overflow: hidden

#card-info-btn:before
  border-radius: 25px

/* inlineimage坐标修正 */
img.inline.entered.loaded
  margin: unset !important

/* 主页翻页按钮坐标修正 */
.layout > .recent-posts .pagination > .extend i
  line-height: 36px

/* 归档页页码美化 */
#pagination .page-number.current
  border-radius: 5px

/* 底部卡片边距 */
#footer-wrap a
  display inline-block
  margin 3px