/* 目录鼠标悬浮效果 */
[data-theme="dark"] #aside-content #card-toc .toc-content .toc-link:hover {
    background: #009d9266;
    border-radius: 10px;
}
[data-theme="light"] #aside-content #card-toc .toc-content .toc-link:hover {
    background: #e2cbff66 !important;
    color: black;
    border-radius: 10px;
}

/* 目录选择效果 */
[data-theme="light"] #aside-content #card-toc .toc-content .toc-link.active {
    color: black;
    background: #e2cbff99;
    border-left-color: #9e91ff;
}
#aside-content #card-toc .toc-content .toc-link.active {
    border-radius: 10px;
}

/* 代码框 */
#article-container figure.highlight {
    border-radius: 6px;
}

/* 滚动条 */
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
}
html {
    /*noinspection CssInvalidPropertyValue*/
    overflow-y: overlay;
}

/* 顶部通知栏 */
.snackbar-pos.top-center {
    border-radius: 8px;
    text-align: center;
    min-width: 0 !important;
}
.snackbar-pos.top-center p {
    font-weight: bold !important;
}

/* 超链接 */
#post ol a, #post ul a, #post p a, .bangumi-title a {
    border-bottom: 2px solid #3599d9;
}
#post ol a:hover, #post ul a:hover,
#post p a:hover, #post .post-copyright a:hover,
.bangumi-title a:hover {
    text-decoration: unset !important;
    background: #0084FF;
    border-radius: 6px;
    color: white !important;
    padding: 3px;
}
[data-theme="dark"] #post ol a:hover,
[data-theme="dark"] #post ul a:hover,
[data-theme="dark"] #post p a:hover,
[data-theme="dark"] #post .post-copyright a:hover,
[data-theme="dark"] .bangumi-title a:hover {
    background: #326e99;
}

/* 行内代码 */
#article-container code {
    border-radius: 5px;
}