#post
  #article-container
    figure
      &.highlight
        border-radius 6px

    // 行内代码
    code
      border-radius 5px

    // 图片圆角
    img
      border-radius 10px

    //表格
    .table-wrap
      table
        border 2px solid var(--km-tab-border)
      th, td
        border-color var(--km-tab-border)

    & > p > a.loaded:before,
    & > .tag.link > .loaded > .right > .text:before
      content '\f0ed'
      font-family var(--fa-style-family, "Font Awesome 6 Free")
      font-weight var(--fa-style, 900)

    & > .tag.link > .loaded > .right > .text:before
      margin-right 4px

  // 文章页头部信息栏
  #post-info
    text-align center

// 超链接
#post ol a:not(.no-custom), #post ul a:not(.no-custom),
#post p a, #post .post-copyright a,
.bangumi-title a, .announcement_content a,
#settings .helper a
  border-bottom 2px solid var(--km-link-underline)
  &:hover
    text-decoration unset !important
    background var(--km-link-bg)
    border-radius 6px
    color white !important
    padding 3px

// 底部版权声明
[data-theme="dark"]
  #post
    .post-copyright
      background-color rgb(7 8 10)

  .post-copyright-info
    color #e0e0e4

#post
  .post-copyright__title
    font-size 22px

  .post-copyright__notice
    font-size 15px

  .post-copyright-cc-info
    a
      margin-left 3px