// 代码框
#post
  #article-container
    figure
      &.highlight
        border-radius 6px

    // 行内代码
    code
      border-radius 5px

    // 图片圆角
    img
      border-radius 10px

    //表格
    .table-wrap
      table
        border 2px solid var(--km-tab-border)
      th, td
        border-color var(--km-tab-border)

  // 文章页头部信息栏
  #post-info
    text-align center

// 超链接
#post ol a:not(.no-custom), #post ul a:not(.no-custom),
#post p a, .bangumi-title a, .announcement_content a
  border-bottom 2px solid var(--km-link-underline)

#post ol a:not(.no-custom):hover, #post ul a:not(.no-custom):hover,
#post p a:hover, #post .post-copyright a:hover,
.bangumi-title a:hover, .announcement_content a:hover
  text-decoration unset !important
  background var(--km-link-bg)
  border-radius 6px
  color white !important
  padding 3px

// 底部版权声明
[data-theme="dark"]
  #post
    .post-copyright
      background-color rgb(7 8 10)

  .post-copyright-info
    color #e0e0e4

#post
  .post-copyright__title
    font-size 22px

  .post-copyright__notice
    font-size 15px

  .post-copyright-cc-info
    a
      margin-left 3px