/* 目录鼠标悬浮效果 */
#aside-content
  #card-toc
    .toc-content
      .toc-link
        border-radius 10px

        &:hover
          background var(--km-toc-hover)
          color var(--km-font) !important

        &.active
          color var(--km-toc-active-font) !important
          border-radius 10px
          background var(--km-toc-active) !important

/* 代码框 */
#article-container
  figure
    &.highlight
      border-radius 6px

  /* 行内代码 */
  code
    border-radius 5px

/* 滚动条 */
*::-webkit-scrollbar-thumb
  border-radius 8px

html
  overflow-y overlay

/* 顶部通知栏 */
.snackbar-pos
  &.top-center
    border-radius 8px
    text-align center
    min-width 0 !important

    p
      font-weight bold !important

@media (max-width: 640px)
  .snackbar-pos.top-center
    p
      width: -webkit-fill-available

/* 超链接 */
#post ol a:not(.no-custom), #post ul a:not(.no-custom),
#post p a, .bangumi-title a, .announcement_content a
  border-bottom 2px solid var(--km-link-underline)

#post ol a:not(.no-custom):hover, #post ul a:not(.no-custom):hover,
#post p a:hover, #post .post-copyright a:hover,
.bangumi-title a:hover, .announcement_content a:hover
  text-decoration unset !important
  background var(--km-link-bg)
  border-radius 6px
  color white !important
  padding 3px