/* 链接卡片 */
#article-container a.link-card div.left img {
    border-radius: 8px;
}
[data-theme="dark"] #article-container a.link-card:hover {
    box-shadow: 0 4px 8px 5px hsl(0deg 0% 100% / 20%) !important;
    filter: unset;
}
[data-theme="dark"] #article-container a.link-card {
    background: #101010 radial-gradient(#2a2a2a, #080808) !important;
    color: white !important;
}
[data-theme="dark"] #article-container a.link-card p.url {
    color: #d3d3d3 !important;
}

/* 分栏 */
[data-theme="light"] #article-container .tabs {
    border-right: 2px solid #edf0f7 !important;
    border-bottom: 2px solid #edf0f7 !important;
    border-left: 2px solid #edf0f7 !important;
}
[data-theme="dark"] #article-container .tabs {
    border-right: 2px solid #30343f !important;
    border-bottom: 2px solid #30343f !important;
    border-left: 2px solid #30343f !important;
}
#article-container .tabs {
    border-radius: 15px;
}
#article-container .tabs > .nav-tabs {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
[data-theme="light"] #article-container .tabs > .nav-tabs {
    background: #edf0f7 !important;
}
#article-container .tabs > .nav-tabs > .tab button {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
[data-theme="light"] #article-container .tabs > .nav-tabs > .tab:not(.active) button:hover {
    background: #66ccff !important;
}
[data-theme="dark"] .tabs > .nav-tabs > .tab:not(.active) button:hover {
    background: #40444f !important;
}
[data-theme="light"] #article-container .tabs > .nav-tabs > .tab.active button {
    background: #f1f2ff !important;
    border-top: 2px solid #0084ff !important;
}
[data-theme="dark"] #article-container .tabs > .nav-tabs > .tab.active button {
    background: #30343f !important;
    border-top: 2px solid #326e99 !important;
}

/* 折叠框 */
details.folding-tag summary {
    border-radius: 12px !important;
    transition: .3s;
}
details.folding-tag[open] >div.content {
    background: transparent !important;
    border-bottom: 3px solid #00a6ff;
    border-radius: 30px;
}
[data-theme="dark"] details.folding-tag >summary {
    background: #3c3c3c;
    color: #dadada;
}
[data-theme="dark"] details.folding-tag[open] >summary {
    color: #dbdbdb;
}
[data-theme="dark"] details.folding-tag summary:hover {
    color: white;
}
details.folding-tag {
    border: 0 solid #4c4c4c !important;
    background: transparent !important;
}