// 加载字体
@font-face
  font-family "harmony"
  //src url('/font/HarmonyOS.woff2') format('woff2'),
  src url('/font/sHarmonyOS.woff') format('woff'),
  url('/font/sHarmonyOS.ttf') format('truetype'),
  url('/font/sHarmonyOS.eot') format('embedded-opentype'),
  url('/font/sHarmonyOS.svg') format('svg')

@font-face
  font-family "JetBrains Mono"
  //src url('/font/jet.woff2') format('woff2'),
  src url('/font/sjet.woff') format('woff'),
  url('/font/sjet.ttf') format('truetype'),
  url('/font/sjet.eot') format('embedded-opentype'),
  url('/font/sjet.svg') format('svg')

blockquote
  font-family "JetBrains Mono"