// 加载字体
@font-face
  font-family "harmony"
  src url('/font/HarmonyOS.woff2') format('woff2'),
  url('/font/HarmonyOS.woff') format('woff'),
  url('/font/HarmonyOS.ttf') format('truetype'),
  url('/font/HarmonyOS.eot') format('embedded-opentype'),
  url('/font/HarmonyOS.svg') format('svg')

@font-face
  font-family "JetBrains Mono"
  src url('/font/jet.woff2') format('woff2'),
  url('/font/jet.woff') format('woff'),
  url('/font/jet.ttf') format('truetype'),
  url('/font/jet.eot') format('embedded-opentype'),
  url('/font/jet.svg') format('svg')

blockquote
  font-family "JetBrains Mono"