// 垂直居中卡片样式（排除toc目录卡片）
.fixed-card-widget
  &:not(#card-toc)
    visibility visible !important
    display block !important
    position fixed !important
    bottom 0
    left 0
    top 0
    right 0
    margin auto
    margin-bottom auto !important
    margin-top auto !important
    max-width 300px
    max-height 500px
    width auto
    height fit-content
    z-index 999
    animation rotateX 0.5s ease
    animation-fill-mode forwards

// 控制手机端可见
@media screen and (max-width: 900px)
  div#fixed-card-dashboard
    display flex !important

// 侧栏悬浮按钮样式
div#fixed-card-dashboard
  position fixed
  top 150px
  width fit-content
  height 40px
  opacity 0.3
  transition all 0.5s
  display none
  background rgba(255, 255, 255, 0.9)
  padding 5px 10px
  border-top-right-radius 20px
  border-bottom-right-radius 20px
  z-index 1000

  &:hover
    opacity 1

    button
      &.fixed-card-active-btn
        width 30px
        opacity 1
        pointer-events all

// 按钮样式
button
  &.fixed-card-active-btn
    width 0
    height 30px
    transition all .5s
    display flex
    opacity 0
    align-items center
    justify-content space-around
    pointer-events none
    color #757273

// 悬浮按钮头像
.fixed-card-user-avatar
  display inline-block

  img
    &.fixed-card-user-avatar-img
      width 30px
      height 30px
      border-radius 50%

// 悬浮按钮夜间模式适配
[data-theme="dark"]
  div#fixed-card-dashboard
    background rgba(65, 65, 65, 0.9)

  button
    &.fixed-card-active-btn
      color #bcbdbd

// 卡片开启动画效果
@keyframes rotateX
  from
    transform rotateX(90deg)
  to
    transform rotateX(0deg)

// 退出蒙版效果
#fixed-card-mask
  position fixed
  display none
  left 0
  top 0
  width 100%
  height 100%
  z-index 99
  background rgba(25, 25, 25, 0.3)

  &.open
    display block
    animation 0.5s ease 0s 1 normal none running to_show

[data-theme="dark"]
  #fixed-card-mask
    background rgba(23, 23, 23, 0.5)