if theme.related_post.enable
    .card-widget.card-recommend-post
        .item-headline
            i.iconfont.icon-tuijian
            span= _p('post.recommend')
        .aside-list(id='related-list')