/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  #recent-posts > .recent-post-item{
    background:rgba(20, 20, 20, 0.75);
}
/* 首页侧栏卡片 */
.card-widget{
    background:rgba(250, 250, 250, 0.85)!important;
}
[data-theme="dark"]
  .card-widget{
    background:rgba(20, 20, 20, 0.75)!important;
}
/* 文章页面正文背景 */
div#post{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#post{
    background: rgba(20, 20, 20, 0.75);
}
/* 分页页面 */
div#page{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#page{
    background: rgba(20, 20, 20, 0.75);
}
/* 归档页面 */
div#archive{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#archive{
    background: rgba(20, 20, 20, 0.75);
}
/* 标签页面 */
div#tag{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#tag{
    background: rgba(20, 20, 20, 0.75);
}
/* 分类页面 */
div#category{
    background: rgba(250, 250, 250, 0.85);
}
[data-theme="dark"]
  div#category{
    background: rgba(20, 20, 20, 0.75);
}