/* 默认情况下缩进左侧66px，只留一点箭头部分 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
}
/* 鼠标悬停是左侧缩进归零，完全显示按钮 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
}

/* 颜色配置 */
/*歌单背景 */
[data-theme="dark"]
  .aplayer{
    background:rgba(25,25,25,0.85)!important;
  }
[data-theme="dark"]
  .aplayer:hover{
    background:rgba(50,50,50,0.85)!important;
  }
/* 正在播放的歌曲的背景 */
[data-theme="dark"]
  .aplayer-list-light{
    background:rgba(40,40,40,0.85)!important;
  }
/* 下方主体 */
[data-theme="dark"]
  .aplayer-body{
    background:rgba(15,15,15,0.6)!important;
  }
/* 伸缩按钮 */
[data-theme="dark"]
  .aplayer-miniswitcher{
    background:rgba(60,60,60,0.45)!important;
  }
/* 歌曲名称 */
[data-theme="dark"]
  .aplayer-title{
    color: #ffffff;
  }
[data-theme="dark"]
  .aplayer-list-title{
    color: #c8c8c8;
  }
/* 歌手信息 */
[data-theme="dark"]
  .aplayer-author{
    color: #ffffff!important;
  }
[data-theme="dark"]
  .aplayer-list-author{
    color: #c8c8c8!important;
  }
/* 列表序号 */
[data-theme="dark"]
  .aplayer-list-index{
    color: #dcdcdc!important;
  }
/* 封面透明度 */
[data-theme="dark"]
  .aplayer-pic{
    opacity: 1;
  }
/* 按钮填充 */
[data-theme="dark"]
  .aplayer-icon path{
    fill: rgb(180,180,180)!important;
  }
/* 按钮选择 */
[data-theme="dark"]
  .aplayer-icon:hover path{
    fill: rgb(255,255,255)!important;
  }