@font-face{
  font-family:'cat' ;  /* 字体名自定义即可 */
  src:url('/self/fonts/cat.ttf'); /* 字体文件路径 */
  font-display : swap;
}

div#menus span{
  font-family: 'cat', sans-serif;
}
a#site-name{
  font-size: xx-large;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'cat', sans-serif;
}
span#subtitle{
  font-family: 'cat', sans-serif;
}
.author-info__name{
  font-family: 'cat', sans-serif;
}