extends includes/layout.pug

block content
  #post
    if top_img === false
      include includes/header/post-info.pug

    article#article-container.post-content!=page.content
    include includes/post/post-copyright.pug
    .tag_share
      if (theme.post_meta.post.tags)
        .post-meta__tag-list
          each item, index in page.tags.data
            a(href=url_for(item.path)).post-meta__tags #[=item.name]
      include includes/third-party/share/index.pug

    if theme.reward.enable
      !=partial('includes/post/reward', {}, {cache: true})

    //- ad
    if theme.ad && theme.ad.post
      .ads-wrap!=theme.ad.post

    if theme.post_pagination
      include includes/pagination.pug

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})

    .js-pjax
      script(src='https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js')
      script.
        var clipboard = new ClipboardJS('.copybtn', {
          text: function () {
            return document.title + '：' + location.protocol + '//' + location.host + location.pathname
          },
        });
        clipboard.on('success', function () {
          if (GLOBAL_CONFIG.Snackbar) {
            btf.snackbarShow("快分享给你的小伙伴吧o(*￣︶￣*)o")
          } else {
            console.log("复制成功")
          }
        });
        clipboard.on('error', function () {
          if (GLOBAL_CONFIG.Snackbar) {
            btf.snackbarShow(GLOBAL_CONFIG.copy.error)
          } else {
            console.error("复制失败")
          }
        });